/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Paleta nueva */
:root {
  --color-principal: #e6e5e5;
  --color-principal-claro: #fff7f7;
  --color-secundario: #144675;
  --color-detalle: #953d54;
  --color-detalle-claro:#d38c9f;
  --color-parrafo:#223649;
  --color-navbar:#223649;

  /* Fondos derivados */
  --bg-hero-1: #e6e5e5;
  --bg-hero-2: #f2f2f2;
  --bg-white: #ffffff;
  --bg-arena: #e6e5e5;
  --bg-arenaoscuro: #cfcfcf;
  --bg-beigearenasuave: #f5f5f5;
  --bg-blancocalidomafil: #fafafa;

  /* Textos */
  --title: #144675;
  --text: #144675;
  --accent: #953d54;

  /* Bordes */
  --border: rgba(20, 70, 117, 0.2);

  /* Botones / acentos */
  --btn-primary: #953d54;
  --btn-secondary: #144675;
  --btn-tertiary: #e6e5e5;

  /* Hover */
  --btn-primary-hover: #7f3145;
  --btn-secondary-hover: #10385e;
  --btn-tertiary-hover: #d8d7d7;

  /* Tipografías */
  --font-title: "Abril Fatface", serif;
  --font-subtitle: "Trocchi", serif;
  --font-text: "HK Grotesk", sans-serif;
}

/* Tipografía base */
body {
  font-family: var(--font-text);
  background: transparent;
  color: var(--title);
  line-height: 1.6;
}

/* Títulos principales */
h1 {
  font-family: var(--font-title);
  color: var(--title);
}

/* Subtítulos */
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-subtitle);
  color: var(--title);
}

/* Texto descriptivo */
p {
  font-family: var(--font-text);
  color: var(--text);
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Listas */
ul {
  list-style: none;
}

/* Media */
img,
video {
  max-width: 100%;
  display: block;
}