/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Paleta (según tus tonos) */
:root{
  --bg-hero-1: #F8F5F2;     /* gris claro */
  --bg-hero-2: #F2EEE7;     /* gris claro 2 */
  --bg-white:  #FFFFFF;
  --bg-arena: #f9f2dba4; 
 --bg-arenaoscuro:#b2a782; 
 --bg-beigearenasuave: #F1EDE7;
 --bg-blancocalidomafil: #F6F4F0;

  --title:     #375d8e;     /* azul oscuro */
  --text:      #8A775A;     /* arena oscuro */
  --accent:    #e86962;     /* coral oscuro */

  --border:    rgba(138, 119, 90, 0.35); /* arena con transparencia */

  /* Botones / acentos */
  --btn-primary: #CF4A2C;   /* rojo coral */
  --btn-secondary: #7B2D4F; /* bordo / vino */
  --btn-tertiary: #1386B5;  /* azul medio */

  /* Opcional: hover / estados */
  --btn-primary-hover: #B63F26;
  --btn-secondary-hover: #672742;
  --btn-tertiary-hover: #0F739A;

}

/* Tipografía base */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  background-color: var(--bg-white);
  color: var(--title);
  line-height: 1.6;
}

/* Títulos en azul oscuro */
h1, h2, h3, h4, h5, h6 {
  color: var(--title);
}

/* Texto descriptivo (arena oscuro) */
p {
  color: var(--text);
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Listas */
ul {
  list-style: none;
}

/* Media */
img,
video {
  max-width: 100%;
  display: block;
}
