/* Navbar principal */
.navbar {
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;

  background: linear-gradient(50deg, var(--accent), var(--btn-secondary));
  border-bottom: 1px solid var(--border);
}

/* Contenedor del logo */
.nav-logo {
  display: flex;
  align-items: center;
  margin-right: auto; /* empuja el menú hacia la derecha */
}

/* Logo */
.navbar img {
  height: 48px; /* tamaño visible en mobile */
  object-fit: contain;
}

/* Menú */
.navbar ul {
  display: flex;
  gap: 2rem;
  color: var(--bg-blancocalidomafil);
  font-weight: 600;
}

/* Items */
.navbar ul li {
  cursor: pointer;
  position: relative;
  padding: 6px 0;
}

/* underline en hover */
.navbar ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 0%;
  height: 2px;
  background: var(--text);
  transition: width 0.25s ease;
}

.navbar ul li:hover::after {
  width: 100%;
}

/* Desktop */
@media (min-width: 769px) {
  .navbar img {
    height: 58px; /* logo más protagonista en desktop */
  }
}

/* Mobile */
@media (max-width: 768px) {
  .navbar {
    height: 64px;
    padding: 0 1rem;
  }

  .nav-logo {
    padding-right: 1rem; /* aire visual entre logo y menú */
  }

  .navbar ul {
    gap: 1.5rem;
  }
}
