:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: transparent;
}

#root {
  min-height: 100vh;
}

.app-shell {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}

.app-bg-parallax {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  z-index: 0;
  pointer-events: none;

  background-image: url("/assets/imagenfondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223649;
}

/* ==============================
   MOBILE
============================== */

@media (max-width: 768px) {
  .app-bg-parallax {
    background-image: url("/assets/imagenfondo-mobile.png");

    /*
      La capa se hace un poco más alta que la pantalla
      para evitar el efecto de zoom/reacomodo cuando
      aparecen o desaparecen las barras del navegador.
    */
    top: -5vh;
    height: 110svh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}